/* .mb-5{
    margin:auto;
    display:block;
    
} */

.giffy-gif {
    margin:auto;
    display:block;
}

/* .topic-buttons{
    margin:auto;
    display:block;
} */

h1 {
    margin:auto;
    display:block;
}